* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


#page {
    display: grid;
    width:  100%;
    height: 250px;
    grid-template-areas:
        "head head"
        "nav  main"
        ".  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
    border: 1px solid #000;
    gap: 5px;
    background-color: #ddd;
    padding: 10px;
}

#page header {
    grid-area: head;
    background-color: #8ca0ff;
}

#page nav {
    grid-area: nav;
    background-color: #ffa08c;
}

#page main {
    grid-area: main;
    background-color: #ffff64;
}

#page footer {
    grid-area: foot;
    background-color: #8cffa0;
}