/* We style the dialog when it is open using the :modal pseudo-class because it only applies to dialogs that are displayed modally using showModal() */
:modal {
    border: 5px solid red;
    background-color: yellow;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 50%);
}