div {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 200px;
    top: 50px;
    font-size: 4rem;
    line-height: 200px;
    text-align: center;
}
p {
    margin-top: 500px;
    text-align: center;
    font-size: 1.2rem;
}

.original {
    border: 1px dashed;
}

.original::before,
.original::after {
    content: "";
    position: absolute;
    top: 100px;
    width: 500px;
    left: -150px;
    height: 1px;
    border-top: 2px dotted;
}

.original::after {
    transform: rotate(135deg);
}

.one {
    background-color: #cccccc;
}

.two {
    background-color: #d6bb72;
}

.one {
    transform: translateX(200px) rotate(135deg);
}

.two {
    transform: rotate(135deg) translateX(200px);
}
