body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    border: 1px solid #bbb;
    padding: 0.5rem;
}

code {
    margin: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #abe;
    transition: background-color 2s ease, color 1.5s ease;

    &:hover {
        background-color: #333;
        color: #eee;
    }
}

img {
    width: 300px;
    height: auto;
    transition: transform 1s ease;

    &:hover {
        transform: scale(3);
    }
}

figcaption {
    font-size: smaller;
    text-align: center;
}

.accordion {
    flex-direction: row;
    gap: 1rem;
}

details {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    height: 1rem;
    background-color: #f9f9f9;
    transition: height 1s ease, background-color 1.3s ease;

    summary {
        font-weight: bold;
        cursor: pointer;
        list-style: none;
    }

    summary::marker {
        display: none;
        /* removes default arrow in some browsers */
    }

    &[open] {
        background-color: #e0f7fa;
        height: 200px;
    }
}