* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

main {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
#dialog-box {
    border: black 2px solid;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #ffabab;
    width: 300px;
    margin: auto;
}

::backdrop {
    background: rgba(0, 0, 0, 0.6);
}