@keyframes fadeColor {
    0% {
        background-color: red;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: green;
    }
}

.parent {
    animation: fadeColor 5s infinite alternate;
    /* Animation lasts 5 seconds, loops infinitely, and alternates direction */
}