.stdlf {
    font-weight: 700;
    border-bottom: 1px solid #777;
    margin-bottom: 1rem;
}

body {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #333;
    text-align: center;
    font-family: "Acme", Arial, sans-serif;
    color: #fff;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    color: darkgreen;
}

section {
    margin: 1rem auto;
    max-width: 960px;
    padding: 0.5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

figure {
    background-color: #fff;
}

img {
    width: 100%;
    height: auto;
    margin: 0.5rem;
}

figcaption {
    font-size: smaller;
}

/* hover effect */
.hover:hover {
    box-shadow: 0 0 50px #333;
}

/* rounded corners - boxmodel */
.rocorn {
    border-radius: 15px 150px;
}

/* simple opacity */

.opac {
    opacity: 0.5;
}

.blur {
    filter: blur(4px);
}

.gray {
    filter: blur(1px) grayscale(50%);
}

.object {
    width: 100%;
    height: 75px;
    object-fit: cover;
}

.contrast {
    filter: contrast(50%);
}

.saturate {
    filter: saturate(50%);
}

.shape-outside {
    border-radius: 100px;
    width: 35%;
    margin: 0 3em 0.5em 0;
    float: left;
    shape-outside: circle();
}

.mbm-difference {
    mix-blend-mode: difference;
}

.mbm-hard-light {
    mix-blend-mode: hard-light;
}

.transform {
    transform: scaleX(-1);
}

.turn {
    rotate: 0.05turn;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1px;
}