* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    text-align: center;
    scale: 1;
}
.card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    scale: 1.02;
    transition: all 0.1s ease;
}
.card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #007BFF;
}
.card img { /* With this set up, to change size of weather icon you will have to go to the JavaScript file url path in the api fetch and adjust the size there. Sizing it here will pixelate the image.*/
    width: auto;
    height: auto;
}
.card #description {
    font-size: 0.9em;
    color: #666;
    margin: 10px 0;
}
.card #temperature {
    font-size: 1.5em;
    font-weight: bold;
    color: #FF5733;
}